body {
  background-color: #1f282e;
  margin: 0;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 20px;
}

p {
  margin: 5px;
}
